body {
    padding: .5rem;
    margin: .1rem;
    font-family: Arial, Helvetica, sans-serif;
}
h2, h4 {
    text-transform: uppercase;
}
a:hover {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    display: flex;
    gap: .3rem;
}
header nav a {
    text-decoration: none;
    padding: .5rem;
}
header .panel {
    display: flex;
    align-items: center;
    gap: .6rem;
    flex: 1;
    justify-content: flex-end;
}
header .panel input {
    padding: .4rem, 2rem, .4rem, .4rem;
}
header .glass {
    height: 16px;
    margin-left: -30px;
}


img {
    border-radius: 5rem;
}

header h1 {
    margin: 0;
    color: red;
    flex: 1;
}
.hero {
    aspect-ratio: 5/3;
    border: 1px solid black;
    padding: 1rem;
    margin: 2rem auto;
    display: flex;
    align-items: center;
}
.checked{
    color: red;
}
.empty {
    color: red;
}
.inform span {
    color: red;
}
button {
    background: red;
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    padding: .7rem 2rem;
    border: 0;
}
.content-rating {
    border: 1px solid black;
    border-radius: .3rem;
    padding: .2rem;
    margin: 0 .5rem;
}

.popular-top, .recommend-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.movies {
    padding: 1rem;
}
.movies-bottom{
    border: 1px solid black;
    width: 250px;
    height: 140px;
    padding: 1rem;
    
}
.movies .content-rating {
    margin-left: .3px;

}
section button{
    padding-left: .3rem;
    margin: .8rem;
    margin-left: .1px;
    width: 50%;
    height: 27%;
}
section .fa-play, .fa-solid {
    margin-right: .1rem;
}
section nav a {
    text-decoration: none;
}
section nav a:hover {
    color: red;
}
section .movies {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}
section .container {
    width: 100%;
    aspect-ratio: 3/1;
    padding: 40px 0;
    border: solid black 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
}
section .movies {
    display: grid;
    grid-template-columns: repeat(7, 300px);
}
footer nav a{
    text-decoration: none;  
    padding: 1rem;
}
footer nav a:hover {
    color: red;
}
footer p {
    padding: 1rem;
}
.bottom-inform {
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
footer .applicatins .apple {
    width: 40%;
    background: aliceblue;
}
footer .applicatins .google{
    width: 40%;
}





