body {
    padding: .5rem;
    margin: .1rem;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    display: flex;
    gap: .3rem;
}
header nav a {
    text-decoration: none;
    padding: .5rem;
}
header .panel {
    display: flex;
    align-items: center;
    gap: .6rem;
    flex: 1;
    justify-content: flex-end;
}
header input {
    padding: .4rem, 2rem, .4rem, .4rem;
    width: 160px;
}
header .glass {
    height: 16px;
    margin-left: -30px;
}


img {
    border-radius: 5rem;
}

header h1 {
    margin: 0;
    color: red;
    flex: 1;
}
.hero {
    aspect-ratio: 5/3;
    border: 1px solid black;
    padding: 1rem;
    margin: 2rem auto;
    display: flex;
    align-items: center;
}
.checked{
    color: red;
}
.empty {
    color: red;
}
.inform span {
    color: red;
}
button {
    background: red;
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    padding: .7rem 2rem;
    border: 0;
}
.content-rating {
    border: 1px solid black;
    border-radius: .3rem;
    padding: .2rem;
    margin: 0 .5rem;
}

.popular-top, .reccomend-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movies {
    border: 1px solid black;
}



